name: Docker Image CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATE: $(date +%s)
    steps:
    - uses: actions/checkout@v1
    - name: Display env
      shell: bash
      run: echo $DATE
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$DATE
    - name: Save the Docker Image
      run: docker save -o my-image-name-$DATE.tar my-image-name:$DATE
    - uses: actions/upload-artifact@master
      with:
        name: image
        path: my-image-name-$DATE.tar
     
    
  
