name: Docker Image CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATE: $(date +%s)
    steps:
    - uses: actions/checkout@v1
    - name: Display env
      shell: bash
      run: echo ${{ env.DATE }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:${{ env.DATE }}
    - name: Display images
      run: docker images
    - name: Save the Docker Image
      run: docker save -o my-image-name-${{ env.DATE }}.tar my-image-name:${{ env.DATE }}
    - uses: actions/upload-artifact@master
      with:
        name: image
        path: my-image-name-${{ env.DATE }}.tar
     
    
  
